
.classpath
.project
*.prefs
target/classes/application.properties
target/classes/initialization.sql
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/mmarella/business-manager/pom.properties
target/classes/META-INF/maven/mmarella/business-manager/pom.xml
.springBeans
.settings/org.eclipse.wst.common.project.facet.core.xml
target/*

.idea/*
business-manager.iml
*.log
/target/
