<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.css}"></link>
<link rel="stylesheet" th:href="@{/static/css/login.css}"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>


<title>Application Requires Login</title>
</head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<div tiles:fragment="content">
		<div class="row">
			<div class="col-lg-4 col-centered">

				<form name="f" th:action="@{/login}" method="post">
					<fieldset>
						<legend>Please Login to acces the application</legend>
						<div th:if="${param.error}" class="alert alert-error">
							Invalid username and password.</div>

						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out.</div>
							<div class="row">
						<div class="col-lg-2">
							<label for="username">Username</label>
						</div>
						<div class="col-lg-2">
							<input type="text" id="username" name="username" />
						</div>
						</div>
						<div class="row">
						<div class="col-lg-2">
							<label for="password">Password</label>
						</div>
						<div class="col-lg-2">
							<input type="password" id="password" name="password" />
						</div>
						</div>
						<div class="col-lg-2 col-centered">
							<div class="form-actions col-centered">
								<button type="submit" class="btn">Log in</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</body>
</html>